@model Biblioteca_MVC.Models.Editoriale

@{
    ViewData["Title"] = "Delete";
}

<div class="ContenedorFormulario">

    <h1 class="titulos titulosAgregar">Eliminar <b class="colorTitulo">Editorial</b></h1>
    <hr />
    <div class="row FormularioGeneral">
        <dl class="row">
            <dt class="col-sm-6 text-end">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-6 text-start">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-6 text-end">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-6 text-start">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-6 text-end">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-6 text-start">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-6 text-end">
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </dt>
            <dd class="col-sm-6 text-start">
                @Html.DisplayFor(model => model.CorreoElectronico)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="formBotones d-flex justify-content-center">
            <div>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-primary">Cancelar</a>
            </div>

        </form>
    </div>
</div>
