@model IEnumerable<Biblioteca_MVC.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<div class="ContenedorFormulario">

    <h1 class="titulos">Lista de <b class="colorTitulo">Reservas</b></h1>

    <form asp-controller="Reservas" asp-action="Index">
        <div class="row">
            <div class="col-sm-8">
                <div class="search-box d-flex w-100">
                    <button type="submit" class="btn btnSearch">
                        <i class="bi bi-search"></i>
                    </button>
                    <input type="text" name="buscar" class="form-control text-opacity-75" placeholder="Buscar por fecha dd-mm-aaaa&hellip;" />
                </div>
            </div>
            <div class="col-sm-4">
                <p>
                    <a asp-action="Create" class="btn btn-outline-info">+ Agregar</a>
                </p>

            </div>
        </div>
    </form>

        <table class="table table-hover">
            <thead class="text-start">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaReserva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaVencimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Libro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th class="campoAcciones text-center">
                    Acciones
                    </th>
                </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libro.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>  |  
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>